/* App-specific styles */

.section {
  padding: 6rem 0;
}

@media (max-width: 768px) {
  .section {
    padding: 4rem 0;
  }
}

.section-header {
  text-align: center;
  margin-bottom: 4rem;
}

.section-header .section-subtitle {
  margin: 0 auto;
}
